ISBN: <input type="text" name="ISBN" id="ISBN" [(ngModel)]="newBook.ISBN"><br> Titolo: <input type="text" name="title" id="title" [(ngModel)]="newBook.title"><br> Autore:
<input type="text" name="author" id="author" [(ngModel)]="newBook.author"><br> Publisher:
<input type="text" name="publisher" id="publisher" [(ngModel)]="newBook.publisher"><br> Data di pubblicazione: <input type="date" name="publicationDate" id="publicationDate" [(ngModel)]="newBook.publicationDate"><br> Cover url: <input type="text" name="coverUrl"
    id="coverUrl" [(ngModel)]="newBook.coverUrl"><br><br>

<input type="button" value="Aggiungi" (click)="add()">